<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <% if (prods.length > 0) { %>
    <ul>
        <% prods.forEach((prod) => {  %>
            <li><%= prod.username %></li>
        <% }); %>  
    </ul>
    <% } else { %>
        <h1>No Users found</h1>
    <% } %>
</body>
</html>